### Exemplo I - Importação de uma função para calcular a raiz quadrada de um número

In [2]:
#Vamos tentar tirar a raiz quadrada de um número?
sqrt(10)

NameError: name 'sqrt' is not defined

In [2]:
#Vamos tentar importar essa função a partir de algum pacote?
import math 
math.sqrt(10)

3.1622776601683795

In [6]:
#Podemos importar somente a função que nos interessa
from math import sqrt
sqrt(10)

3.1622776601683795

In [4]:
s = Series([1, 3, 5, np.nan, 6, 8])
s

NameError: name 'Series' is not defined

### Exemplo II - Criação de uma série numérica usando uma função do pacote Pandas e outra do Numpy

In [1]:
import pandas as pd
serie=pd.Series([1, 3, 5, 5, 6, 8])
serie

0    1
1    3
2    5
3    5
4    6
5    8
dtype: int64

In [9]:
import numpy as np
serie=pd.Series([1,3,np.nan, 8,9,11])
serie

0     1.0
1     3.0
2     NaN
3     8.0
4     9.0
5    11.0
dtype: float64

In [16]:
### Exemplo III - Usando mais funções do Pandas e do Numpy para geração de um dataframe (tabela) com números aleatórios
dates = pd.date_range("20210101", periods=6, freq="M")
dates

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2021-01-31  0.594311  1.192858 -0.299727 -0.323674
2021-02-28 -1.194381  0.038573 -1.356236  1.036329
2021-03-31 -0.868946  0.317173 -0.610429  0.831843
2021-04-30 -0.332295 -1.313242  0.749707 -0.572620
2021-05-31  1.107705 -1.501280 -0.614165 -0.033551
2021-06-30  0.315799  0.816274 -1.125653 -0.179170