In [1]:
a=3
print(a)

3

In [2]:
a=3
b=6
print(a)
print(b)

3
6

In [3]:
c,d=5,8
e = c*d
print(c)
print(d)
print(e)

5
8
40

In [4]:
type(c), type(d), type(e)

(int, int, int)

In [7]:
nome = 'João'
print(nome)

João

In [8]:
print nome

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(nome)? (Temp/ipykernel_21380/441262625.py, line 1)

In [9]:
nome = "João"
print(nome)
type(nome)

João

str

In [10]:
valor = 2.71828
print(valor)
type(valor)

2.71828

float

In [11]:
num_complexo = 2+3j
print(num_complexo)
type(num_complexo)

(2+3j)

complex

In [12]:
salario_mensal, salario_anual=3504.35, 3504.35*12
print(salario_mensal)
print(salario_anual)
type(salario_mensal), type(salario_anual)

3504.35
42052.2

(float, float)

In [13]:
x=10
y=4

In [14]:
#Soma de x e y
x+y

14

In [15]:
#Subtração de x e y
x-y

6

In [16]:
#Multiplicação de x e y
x*y

40

In [17]:
#Divisão exata de x e y
x/y

2.5

In [18]:
#Divisão inteira de x e y
x//y

2

In [19]:
#Resto da divisão entre x e y
x%y

2

In [20]:
#Exponenciação de x e y
x**y

10000

In [21]:
#A ordem das operações em um cálculo envolvendo Python segue a lógica atribuída ao acrônimo (PEMDAS – Parênteses,
#Exponenciação, Multiplicação, Divisão, Adição, Subtração). Veja a seguir 2 exemplos:

In [22]:
4*2**3

32

In [23]:
(4*2)**3

512

In [25]:
nome="Marcelo"
sobrenome="Silva"
nome + " " + sobrenome

'Marcelo Silva'

In [27]:
pais="Brasil "
pais*3

'Brasil Brasil Brasil '

In [28]:
pais.upper()

'BRASIL '

In [29]:
pais.lower()

'brasil '

In [30]:
pais.capitalize()

'Brasil '

In [31]:
nome_do_usuario=input("Como você se chama?\n")

Como você se chama?
Marcelo

In [32]:
print(nome_do_usuario)

Marcelo

In [33]:
idade_do_usuario=input("Qual a sua idade?\n")

Qual a sua idade?
45

In [34]:
print(idade_do_usuario)

45

In [35]:
print("Seu nome é " + nome_do_usuario + ' e sua idade é ' + idade_do_usuario + " anos")

Seu nome é Marcelo e sua idade é 45 anos